* {
  margin: 0;
  padding: 0;
}

.chat {
  min-height: 100vh;
  max-height: 100vh;
  padding: 10px;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

.chat ul {
  flex-grow: 1;
  overflow-y: scroll;
  padding: 10px 0;
}

.chat li {
  display: flex;
}

.chat li strong {
  margin-right: 10px;
}

.chat li:nth-child(odd) {
  background-color: rgb(199, 199, 199);
}

.chat form {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.chat form > input[type="text"],button {
  height: 50px;
  margin-bottom: 10px;
}